<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="height=device-height,
              width=device-width, initial-scale=1.0,
              minimum-scale=1.0, maximum-scale=1.0,
              user-scalable=no">
<!-- JQuery CDN -->
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

<!-- JQuery UI (Only Effect) -->
<script th:src="@{/js/jquery-ui.min.js}"></script>

<!-- Common -->
<script th:src="@{/js/common.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>