<!DOCTYPE html>
<div th:fragment="character_loading_popup" class="popup character_loading_pop">
    <div class="loading_wrap">
        <div class="loading_image"></div>
        <div class="loading_description">캐릭터 정보를 불러오고 있습니다...</div>
    </div>
</div>
<div th:fragment="equipment_popup" class="popup equipment_pop">
    <div class="equipment_wrap">
        <div class="equipment_layout">
            <div class="equipment_item">
                <div id="ring4" class="item_box item_right_empty"></div>
                <div id="cap" class="item_box item_right_empty"></div>
                <div id="emblem" class="item_box"></div>
                <div id="ring3" class="item_box"></div>
                <div id="pendant2" class="item_box"></div>
                <div id="forehead" class="item_box item_right_empty"></div>
                <div id="badge" class="item_box"></div>
                <div id="ring2" class="item_box"></div>
                <div id="pendant" class="item_box"></div>
                <div id="eye_acc" class="item_box"></div>
                <div id="ear_acc" class="item_box"></div>
                <div id="medal" class="item_box"></div>
                <div id="ring" class="item_box"></div>
                <div id="weapon" class="item_box"></div>
                <div id="clothes" class="item_box"></div>
                <div id="shoulder" class="item_box"></div>
                <div id="sub_weapon" class="item_box"></div>
                <div id="poket" class="item_box"></div>
                <div id="belt" class="item_box"></div>
                <div id="pants" class="item_box"></div>
                <div id="gloves" class="item_box"></div>
                <div id="cape" class="item_box"></div>
                <div id="shoes" class="item_box item_left_empty"></div>
                <div id="android" class="item_box"></div>
                <div id="heart" class="item_box"></div>
            </div>
            <div class="pet_item">
                <div id="pet1" class="item_box"></div>
                <div id="pet1_acc" class="item_box" style="margin-right: 43px;"></div>
                <div id="pet2" class="item_box"></div>
                <div id="pet2_acc" class="item_box" style="margin-right: 43px;"></div>
                <div id="pet3" class="item_box"></div>
                <div id="pet3_acc" class="item_box"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="cash_equipment_popup" class="popup cash_equipment_pop">
    <div class="equipment_wrap">
        <div class="cash_equipment_layout">
            <div class="equipment_item">

            </div>
        </div>
    </div>
</div>