<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="~{/common/head.html}"></th:block>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Search -->
    <script th:src="@{/js/search.js}"></script>

    <!-- Character -->
    <script th:src="@{/js/character.js}"></script>

    <!-- Equipment -->
    <script th:src="@{/js/equipment.js}"></script>

    <title th:text="'인포메 :: ' + ${character_name}"></title>
</head>
<body>
    <input id="input_character_name" type="hidden" th:value="${character_name}"/>
    <div th:replace="~{/fragile/header::header}"></div>
    <div class="wrap" id="info_wrap" style="display: none;">
        <div class="character_wrap" style="display: none;">
            <div class="base_info_wrap">
                <div class="character_image_wrap">
                    <div class="character_image"></div>
                    <img class="server_logo"/>
                </div>

                <div class="character_base_info">
                    <div id="character_name"></div>
                    <div id="character_class"></div>
                    <div id="character_guild"></div>
                    <div id="character_level"></div>
                    <div id="character_exp"></div>
                </div>
            </div>
            <div class="base_info_chart">

            </div>
            <div class="info_btn_wrap">
                <button id="equipment_open" style="margin-right: 10px;">장비 열기</button>
                <button id="cash_equipment_open">캐시장비 열기</button>
                <br/>
                <span class="info_title">* 단축키 E(장비), C(캐시장비)로도 창을 열 수 있으며, 같은 키 또는 ESC로 닫을 수 있습니다.</span>
            </div>
        </div>

            <div class="sub_info_tap" style="display: none;">
                <div class="sub_tap tap_on" id="tap_symbol">심볼</div>
                <div class="sub_tap" id="tap_skill">스킬</div>
            </div>
            <div class="symbol_wrap" style="display: none;">
                <div class="symbol_total">
                    <div style="white-space: nowrap;">현재까지 심볼에 사용한 메소</div>
                    <div id="symbol_spent">0 메소</div>
                </div>
                <div class="symbol_btn_wrap">
                    <button class="open_all_symbol_btn">모두 열기</button>
                </div>
                <div id="symbol_arc" class="symbol">

                </div>
                <div id="symbol_act" class="symbol">

                </div>
            </div>
    </div>

    <div id="loading_fail_wrap" class="wrap" style="display: none;">
        <div class="loading_fail_wrap">
            <div>캐릭터 정보를 불러오는데 실패하였습니다.</div>
            <div>2023년 12월 21일 데이터부터 조회할 수 있습니다.</div>
            <div>메이플스토리 게임 데이터는 평균 15분 후 확인 가능합니다.</div>
        </div>
    </div>
    <div th:replace="~{/fragile/popup::character_loading_popup}"></div>
    <div th:replace="~{/fragile/popup::equipment_popup}"></div>
    <div th:replace="~{/fragile/popup::cash_equipment_popup}"></div>
    <div th:replace="~{/fragile/footer::footer}"></div>
</body>
</html>