/* tag */
body {
    background-color: #202124;
    color: #c8ccda;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #c8ccda;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #202124;
}

div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

div::-webkit-scrollbar-thumb {
    height: 30%;
    background: #c8ccda;
    border-radius: 10px;
}

div::-webkit-scrollbar-track {
    background: #202124;
}

header {
    width:100%;
    height: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

footer {
    text-align: center;
    margin: 20px 0;
    bottom: 0;
    width: 100%;
}

input {
    background: #303134;
    border-radius: 12px;
    width: 250px;
    height: 30px;
    color: #c8ccda;
    border: 0px;
    padding: 3px 10px;
}

/* class */
.wrap {
    margin: 0 auto;
    padding: 20px;
}

.infoma_icon {
    /* width:30px;
    height:30px; */
    margin-right: 10px;
    cursor: pointer;
}

.banner_wrap {

}

.banner {
    width:100%;
    height: 500px;
    text-align: center;
    position: relative;
}

.banner::after {
    position: absolute;
    width:100%;
    height:100%;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    opacity: 60%;
    background: url("../vendor/main_banner.jpg") no-repeat;
    background-position: center center;
    z-index: -1;
    border-radius: 5px;
}

.main_logo {
    padding-top: 200px;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
    font-size: 50px;
}

/* index page short */
.short {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.short_area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@-webkit-keyframes rolling1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}
@-webkit-keyframes rolling2 {
	0% { transform: translateX(0); }
	100% { transform: translateX(-200%); }
}

.short_area.original {
	animation: rolling1 30s linear infinite;
}
.short_area.clone {
	animation: rolling2 30s linear infinite;
}

.short_card {
    border: 1px solid #616161;
    width: 250px;
    min-width: 250px;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    background: #303134;
    cursor: pointer;
}

.short_char_image {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 100%;
    text-align: center;
    margin: 0 10px;
    border-radius: 10px 10px 0 0;
    height: 60%;
}

.short_info {
    display: block;
    width: 100%;
    height: 40%;
    margin: 10px;
}

.short_option {
    display: inline-block;
    margin: 5px;
    padding: 3px;
    border-radius: 8px;
    background: red;
    color: #373131;
}

.short_character_name {
    margin-top: -10px;
    font-weight: bold;
    background: #646060;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
}

/* base character */
.character_wrap {
    background: #303134;
    border-radius: 12px;
    display: flex;
    padding: 30px;
    width: 70%;
    margin: 15px auto;
}

.base_info_wrap {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}

.character_image_wrap {
    width: 150px;
    height: 150px;
    background: radial-gradient( #e9e9e9, #303134 );

    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character_image {
    width: 96px;
    height: 96px;
    content: "";
}

/* popup */
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    background: rgba(0, 0, 0, 0.52);
}

.open_pop {
    display: flex;
}

.equipment_wrap {
    margin: 10% auto;
}

.equipment_layout {
    background: url('../vendor/equipment.png') no-repeat;
    width: 449px;
    height: 431px;
    margin: 0 auto;
}

.cash_equipment_layout {
    background: url('../vendor/cash_equipment.png') no-repeat;
    width: 449px;
    height: 431px;
    margin: 0 auto;
}

.equipment_item {
    padding: 38px 185px 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.item_box {
    min-width: 42px;
    min-height: 42px;
    margin-bottom: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.item_right_empty {
    margin-right: 48px !important;
}

.item_left_empty {
    margin-left: 90px !important;
}

.item_box_potential {
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 1px;
    margin-right:1px;
    border-radius: 5px;
}

.item_potential_right_empty {
    margin-right: 46px !important;
}

.outline_legend {
    border: 2px solid #5dcf6a;
}

.outline_unique {
    border: 2px solid #eddb7a;
}

.outline_epic {
    border: 2px solid #98799d;
}

.outline_rare {
    border: 2px solid #2bb0f1;
}

.item_detail {
    display: none;
    position: absolute;
    min-width: 315px;
    border-radius: 7px;
    /* margin-left: 30px;
    margin-top: 10px; */
    padding: 10px;
    width: 315px;
    background: rgb(0, 0, 0, 0.7);
    border: 1px solid;
    top: 7%;
    left: 55%;
}

.item_show {
    display: block;
}

.starforce {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.star_list {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    display: flex;
}

.star {
    appearance: none;
    padding: 1px;
}

.star::after {
    content: '☆';
    font-size: 15px;
}

.star_color {
    appearance: none;
    padding: 1px;
}

.star_color::after {
    content: '★';
    color: #f5c800;
    font-size: 15px;
}

.star_color_blue {
    appearance: none;
    padding: 1px;
}

.star_color_blue::after {
    content: '★';
    color: #1dcfdb;
    font-size: 15px;
}

.item_name {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 2px;
}

.soul_name {
    color: #c7e657;
}

.equipment_name {
    color: #a62854
}

.item_grade_name {
    text-align: center;
    font-size: 13px;
}

.item_icon_wrap {
    margin: 15px 0;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-top-width: thin;
    border-bottom-width: thin;
    border-color: #6f6b6b;
    display: flex;
}

.item_icon {
    background: rgb(255, 255, 255, 0.9);
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    text-align: center;
    margin: 15px 0 15px 10px;
    display: inline-block;
}

.equipment_icon {
    width: 50%;
    vertical-align: middle;
}

.item_level {
    margin-top: 15px;
    margin-left: 15px;
    color: #ad8e00;
    font-size: 15px;
    width: 190px;
}

.option_total {
    color: #66bbbd;
}

.option_add {
    color: #c6f202;
}

.option_etc {
    color: #9b98e3;
}

.option_starforce {
    color: #e3ba02;
}

.item_option {
    margin-bottom: 15px;
}

.item_potential_option {
    border-top-style: dashed;
    border-top-width: thin;
    border-color: #6f6b6b;
    padding-top: 15px;
    margin-bottom: 10px;
}

.potential_option_legend {
    color: #5dcf6a;
}

.potential_option_unique {
    color: #eddb7a;
}

.potential_option_epic {
    color: #98799d;
}

.potential_option_rare {
    color: #2bb0f1;
}

.potential_option_exceptional {
    color: #872f34;
}

.pet_item {
    display: flex;
    flex-wrap: wrap;
    padding: 49px 48px 27px 50px;
}

.symbol_wrap {
    padding: 30px;
    width: 70%;
    background: #303134;
    margin: 15px auto;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.symbol_total {
    width: calc(100% - 30px);;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 12px;
    background: #202124;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#symbol_spent {
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
}

.symbol {
    width: 49%;
    min-width: 250px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.symbol:first-child {
    margin-right:2%;
}

.symbol_unit {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.symbol_icon {
    min-width: 42px;
    min-height: 42px;
    width: 42px;
    margin-right: 10px;
    text-align: center;
}

.symbol_progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #c8ccda;
    position: relative;
    margin-right: 10px;
}

.symbol_progress_proceed {
    width: 0px;
    height: 15px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    animation-duration: 1s;
    border-right: 1px solid #c35454;
}

.symbol_dot {
    position: absolute;
    width: 0;
    height: 0;
    /* margin-top: -5px;
    border-bottom: 10px solid #838383b3;
    border-top: 0px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent; */

    margin-top: -15px;
    border-bottom: 15px solid #838383b3;
    border-top: 0px solid transparent;
    border-left: 1px solid transparent;
    border-right: 0px solid transparent;
}

.symbol_info {
    display: flex;
    align-items: center;
    min-width: 65px;
}

.symbol_analyze {
    display: none;
    margin-left: 15px;
    margin-bottom: 15px;
    background: #202124;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 30px);
}

.symbol_info_up_arrow {
    content: "";
    background: url("../vendor/chevron-up-outline.svg") center center no-repeat;
    filter: opacity(0.5) drop-shadow(0 0 0 #202124);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.symbol_info_down_arrow {
    content: "";
    background: url("../vendor/chevron-down-outline.svg") center center no-repeat;
    filter: opacity(0.5) drop-shadow(0 0 0 #202124);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.symbol_name {
    display: inline-block;
    border-radius: 10px;
    background: #44454b;
    padding: 1px 5px;
    margin-bottom: 5px;
}

/* 데이터 로딩 */
.loading_wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

.loading_image {
    background: url("../vendor/pinkbean_sleep.gif") center center no-repeat;
    width: 134px;
    height: 100px;
}

.loading_description {
    font-size: 20px;
    font_weight: bold;
}

